<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<head>
	<title>题库</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="智能 学习方法 错题 错题本 软件 cuotiben 抄错本 高考 中考 错题宝 助学宝">
    <meta name="description" content="题库">
	<script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.js"></script>
	<script type="text/javascript" src="./static/myjs.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./static/index.css">
</head>
<body>
<div class="container text-center">
	<div class="header t30 clearfix">
	<div class="header-left text-left">
		<img src="./static/img/3.png">
	</div>
	<div class="header-right text-right">使用旧版</div>			
</div>
</div>
<!-- 头部结束 -->
<div class="banner clearfix text-center">
	<div class="banner-box">
			<img src="./static/img/5.jpg">
			<img id="bg" src="./static/img/5.jpg">
			<div class="slider-l">
					<img id="slider-l" src="./static/img/4.png">
					<div class="slider-l-l">
						<h3>学校版（多电脑云同步）</h3>
				 		<h5>一款基于错题大数据的精准
				 			<br />化个性化高效学习辅导系统</h5>
				 		<p>了解更多</p>
					</div>
			</div>
			<div class="slider-r">
					<img id="slider-r" src="./static/img/4.png">
					<div class="slider-r-r">
						<h3>学校版（多电脑云同步）</h3>
				 		<h5>一款基于错题大数据的精准
				 			<br />化个性化高效学习辅导系统</h5>
				 		<p>了解更多</p>
					</div>
			</div>		
			<a href="#"><div class="btn-l"><img src="./static/img/9_02.gif" alt="tu" /></div></a>
			<a href="#"><div class="btn-r"><img src="./static/img/9_04.gif" alt="tu" /></div></a>
			<ol>
				<a href="#"><li id="li-1">1</li></a>
				<a href="#"><li id="li-2">2</li></a>
			</ol>
	</div>
</div>
<!-- 轮播图结束 -->
<div class="container text-center clearfix">
<div class="nav">
	<div class="nav-left t30">
		<div class="nav-l-t t30">
			<img src="./static/img/1.png">
		</div>
		<div class="nav-l-b">
			<h3>会计万题库</h3>
		</div>

	<div class="nav-left-lst t30">
		<h2>工程万题库</h2>
		<ul>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
		</ul>
	</div>



	</div>
	<div class="nav-center t30">
		<div class="nav-c-t t30">
			<img src="./static/img/1.png">
		</div>
		<div class="nav-c-b">
			<h3>会计万题库</h3>
		</div>

	<div class="nav-center-lst t30">
		<h2>工程万题库</h2>
		<ul>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
		</ul>
	</div>	
	</div>

<div class="nav-right t30">
		<div class="nav-r-t t30">
			<img src="./static/img/1.png">
		</div>
		<div class="nav-r-b">
			<h3>会计万题库</h3>
		</div>

	<div class="nav-right-lst t30">
		<h2>工程万题库</h2>
		<ul>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
			<li><a href="" title="一建万题库">一建万题库</a></li>
		</ul>
	</div>
	</div>

</div>










<!-- 导航结束 -->
<div class="parnter clearfix">
	<div class="parnter-left">
		<span>合作商家：</span>
		<ul>
			<li>第一</li>
			<li>第二</li>
			<li>第三</li>
		</ul>
	</div>
	<div class="mobil">联系方式</div>
</div>
<!-- 合作伙伴 -->
<div class="link clearfix">
	<span>友情链接</span>
	<ul>
		<li>友情链接及其名称</li>
		<li>友情链接及其名称</li>
		<li>友情链接及其名称</li>
		<li>友情链接及其名称</li>
		<li>友情链接及其名称</li>
		<li>友情链接及其名称</li>
	</ul>
</div>
<!-- 友情链接 -->
<div class="copyright">
	<h5>备案号</h5>
</div>
<!-- 版权 -->
</div>
</body>

</html>





















